.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-decoration: underline;
}
 body {
    background-color: black;
    color: white;
     font-family: AppleGothic,Arial,"Times New Roman";

}
 main{
     background-image: url("../img/veridian-logo.jpg");
     background-size: 400px ;
     background-repeat: no-repeat;
     background-position:right;
 }
ul{
    list-style: circle;

}
tr>td{
    font-size: 2em;
    padding: 4px;
    text-align: left;
    border:3px darkred solid;
}
table{
    border:3px cornflowerblue  dashed;

}
th{
    background-color: darkred;
}
a:link{
    color: aqua;
}
a:visited{
    color: purple;
}
a:hover{
    color: greenyellow;
    font-size: 2em;
}
a:active{
    color: darkmagenta;
}